---
import TitleSection from "./TitleSection.astro";
import { getI18N } from "@/i18n"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<div class="flex flex-col gap-y-5 justify-center items-center w-full max-w-7xl px-8">
  <TitleSection>
    {i18n.CERTIFICATION.TITLE.split(' ')[0]} 
  </TitleSection>
  <p class="text-gray-200 text-[16px] text-center max-w-[45rem]">{i18n.CERTIFICATION.SUBTITLE}</p>

  <div class="flex justify-center gap-x-5 gap-y-1 flex-wrap w-full">
    {
      i18n.CERTIFICATION.CERTIFICATIONS.map(({ TITLE, EMIT, LINK, CERT  }) => (
        <article class="max-w-[386px] flex flex-col overflow-hidden mt-8 rounded-2xl border border-neutral-400/10 lg:w-full  bg-white/5 shadow-[0px_0px_24px_0px_rgba(0,0,0,0.4)] cursor-pointer">
          <a href={LINK} target="_blank" class="w-full h-[220px] border-none relative group">
            <div class="absolute top-0 right-0 group-hover:bg-[#131313fb] z-50 transition-all ease-in-out duration-[.45s] w-full h-full ">
              <div class="relative flex flex-col justify-center items-center text-center opacity-0 transition-all ease-in-out  duration-[.55s] group-hover:opacity-100 w-full h-full p-4 space-y-2">
                <p class="text-[20px] font-semibold">{TITLE}</p>
                <p class="text-[20px] text-[#4ade80]">{EMIT}</p>
              </div>
            </div>
            <img alt="Image" class="object-cover object-top w-full h-full transition duration-500 sm:h-full opacity-90 group-hover:scale-110" loading="lazy" src={CERT} />
          </a>
        </article>
      ))
    }
  </div>
</div>
