---
import type { JSX } from "astro/jsx-runtime"
import LinkInline from "./LinkInLine.astro"
import Arrow from "../icons/Arrow.astro"

interface Props {
  TITLE: string
  SUBTITLE: string
  ICON:  JSX.Element 
  DESCRIPTION: string
  LINK?: string
  DATE: string
}

const { TITLE, SUBTITLE, ICON, DESCRIPTION, LINK, DATE } = Astro.props
---

<div
  class="relative my-6 "
>
  <div class="relative flex justify-center items-center flex-col space-y-4">
    <div class="relative w-[72px] h-[72px] lg:flex items-center justify-center bg-[#4ade80] rounded-full hidden">
      <ICON class="absolute size-10 text-black"/>
    </div>
    <div class="leading-5">
      <h3 class="text-lg font-semibold ">{TITLE}</h3>
      <p class="text-[16px] text-gray-400">{SUBTITLE}</p>
      <time class="p-0 m-0 text-sm text-gray-200">{DATE}</time>
    </div>
    <p class="text-[16px]">{DESCRIPTION}</p>
    {
      LINK && (
        <LinkInline href={LINK}>
          Saber más
        </LinkInline>
      )
    }
  </div>
</div>