---
import { getI18N } from "@/i18n"
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
import UniversityIcon from "@/icons/University.astro"
import TitleSection from "./TitleSection.astro"
import Programmer from "@/icons/Programmer.astro"
---

<div class="flex flex-col items-center justify-center gap-8 text-gray-300 max-w-6xl px-5 ">
  <TitleSection>
    {i18n.EDUCATION.TITLE.split(' ')[0] + ' ' + i18n.EDUCATION.TITLE.split(' ')[1]} <span class="text-[#4ade80]">{i18n.EDUCATION.TITLE.split(' ')[2]}</span>
  </TitleSection>
  <p class="text-gray-200 text-[16px] text-center max-w-[45rem]">{i18n.EDUCATION.SUBTITLE}</p>
  <div class="w-full lg:grid lg:grid-cols-2 flex justify-center items-center lg:space-y-[0] space-y-[4rem] flex-col lg:gap-x-[3.2rem] mt-[2rem] ">
    <div class="space-y-5 max-w-[483px] w-full">
      <div class="w-full text-start flex justify-start items-center space-x-4">
        <div class="relative w-[60px] h-[60px] flex items-center justify-center bg-[#4ade80] rounded-full">
          <UniversityIcon class="absolute size-10 text-black"/>
        </div>
        <div class="leading-6 space-y-1 text-[#ffffff]">
          <h3 class="sm:text-[25px] text-[20px] font-semibold ">{i18n.EDUCATION.EDU_TITLE}</h3>
          <p class="p-0 m-0 text-[14px] text-gray-200 ">{i18n.EDUCATION.CARRER} ({i18n.EDUCATION.DATE})</p>
        </div>
      </div>
      <div class="flex justify-start items-start text-[15px] text-gray-200 ">
        <span class="relative mt-2 mr-[0.8rem] h-1.5 w-1.5 shrink-0 rounded-full transition-[background-color,box-shadow] duration-200 xl:h-[5px] xl:w-[5px] bg-primary-1 shadow-[0px_0px_9px_0px_#4BFFC3]" aria-hidden="true"><span class="absolute left-1/2 top-1/2 h-1 w-1 -translate-x-1/2 -translate-y-1/2 rounded-full bg-[#D9FDF1] opacity-70 blur-[1px]"></span></span>
        <p>{i18n.EDUCATION.DESCRIPTION_1}</p>
      </div>
      <div class="flex justify-start items-start text-[15px] text-gray-200">
        <span class="relative mt-2 mr-[0.8rem] h-1.5 w-1.5 shrink-0 rounded-full transition-[background-color,box-shadow] duration-200 xl:h-[5px] xl:w-[5px] bg-primary-1 shadow-[0px_0px_9px_0px_#4BFFC3]" aria-hidden="true"><span class="absolute left-1/2 top-1/2 h-1 w-1 -translate-x-1/2 -translate-y-1/2 rounded-full bg-[#D9FDF1] opacity-70 blur-[1px]"></span></span>
        <p>{i18n.EDUCATION.DESCRIPTION_2}</p>
      </div>
    </div>
    <div class="space-y-5 max-w-[483px] w-full">
      <div class="w-full text-start flex justify-start items-center space-x-4">
        <div class="relative w-[60px] h-[60px] flex items-center justify-center bg-[#4ade80] rounded-full">
          <Programmer class="absolute size-10 text-black"/>
        </div>
        <div class="leading-5 space-y-1 text-[#ffffff] ">
          <h3 class="sm:text-[25px] text-[20px] font-semibold ">{i18n.EDUCATION.RECOGNITIONS_TITLE}</h3>
          <p class="p-0 m-0 text-[14px] text-gray-200">{i18n.EDUCATION.FACULT}</p>
        </div>
      </div>
      <ul class="text-[15px] space-y-2">
        {
          i18n.EDUCATION.RECOGNITIONS.map(recognition => (
            <div class="flex justify-start items-start">
              <span class="relative mt-2 mr-[0.8rem] h-1.5 w-1.5 shrink-0 rounded-full transition-[background-color,box-shadow] duration-200 xl:h-[5px] xl:w-[5px] bg-primary-1 shadow-[0px_0px_9px_0px_#4BFFC3]" aria-hidden="true"><span class="absolute left-1/2 top-1/2 h-1 w-1 -translate-x-1/2 -translate-y-1/2 rounded-full bg-[#D9FDF1] opacity-70 blur-[1px]"></span></span>
              <li class="text-[15px] text-gray-200">{recognition}</li>
            </div>
          ))
        }
      </ul>
    </div>
    <div>
  </div>
</ol>