---
import { getI18N } from "@/i18n"
import TitleSection from "./TitleSection.astro"
import { EXPERIENCE } from '@/constants/experience_data'
import { EXPERIENCE as EXPERIENCE_EN } from '@/constants/experience_data_en'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
const EXPERIENCE_DATA = Astro.currentLocale === 'es' ? EXPERIENCE : EXPERIENCE_EN;
---

<div class="flex flex-col items-center justify-center gap-8 text-gray-300 max-w-7xl px-8 ">
  <TitleSection>
  {i18n.EXPERIENCE.TITLE}
  </TitleSection>
  <p class="text-gray-200 text-[16px] text-center max-w-6xl w-full">{i18n.EDUCATION.SUBTITLE}</p>
  <div class="w-full grid exp:grid-cols-3 grid-cols-1 gap-x-[2rem] mt-[2rem] ">
    <nav class="w-full exp:col-span-1 col-span-3" aria-label="In-page jump links">
      <ul class="">
        {
          EXPERIENCE_DATA.map(({title, date}, index) => (
            <li id={`${index}`} class="exp-item">
              <a class="group flex items-center py-3" href="#about">
                <span class="nav-indicator mr-4 h-px w-8 bg-gray-200 transition-all group-hover:w-16 group-hover:bg-[#4ade80] group-focus-visible:w-16 group-focus-visible:bg-slate-200 motion-reduce:transition-none">
                </span>
                <div class=" flex flex-col flex-wrap">
                  <span class="nav-text text-xs font-bold uppercase tracking-widest text-gray-200 group-hover:text-[#4ade80] group-focus-visible:text-slate-200">
                    {title}
                  </span>
                  <span class="nav-text font-bold uppercase tracking-widest text-gray-400 text-[10px] group-hover:text-[#4ade80] group-focus-visible:text-slate-200">
                    {date}
                  </span>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </nav>

    <div class="col-span-2 exp:mt-2 mt-[4rem]">
      <div>
        <section
          id="experience"
          class="scroll-mt-24"
          aria-label="Work experience"
        >
        <div>
            <ol class="group/list">
              {
                EXPERIENCE_DATA.map(({title, date, description, link, tags}, index) => (
                <li class="mb-12 max-w-[784px]" id={`section-${index}`}>
                <div class="group relative grid pb-1 transition-all md:gap-4 hover:!opacity-100 group-hover/list:opacity-50">
                  <div class="absolute -inset-y-4 z-0 rounded-md transition motion-reduce:transition-none -inset-x-6 block group-hover:bg-[#1a1a1a] bg-[#121212] group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] group-hover:drop-shadow-lg">
                  </div>
                  
                  <div class="z-10 w-full col-span-8">
                    <h3 class="font-medium leading-snug text-slate-200">
                      <div>
                        <a
                          class="inline-flex items-baseline font-medium leading-tight text-slate-200 hover:text-[#4ade80] focus-visible:text-[#4ade80] group/link text-base"
                          href={link}
                          target="_blank"
                          rel="noreferrer noopener"
                          aria-label={title}
                          ><span
                            class="absolute -inset-x-4 -inset-y-2.5 rounded md:-inset-x-6 md:-inset-y-4 block"
                          ></span><span
                            >
                            <span class="inline-block"
                              >{title}
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"
                                aria-hidden="true"
                                >
                                  <path
                                  fill-rule="evenodd"
                                  d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                                  clip-rule="evenodd">
                                  </path>
                                </svg>
                            </span>
                          </span>
                        </a>
                        <header class="z-10 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-gray-300 sm:col-span-2">
                    {date}
                  </header>
                      </div>
                    </h3><p class="mt-2 text-sm leading-normal">
                      {description}
                    </p><ul
                      class="mt-2 flex flex-wrap"
                      aria-label="Technologies used"
                    >
                      {
                        tags && tags.map(tag => (
                        <li class="mr-1.5 mt-2">
                          <div class="group relative flex h-[30px] shrink-0 items-center overflow-hidden rounded-md px-3 leading-none outline-none xl:h-[27px] xl:py-[7px] after:opacity-0">
                            <span class="border-[1px] border-gray-700 absolute inset-0 z-10 rounded-[inherit] bg-white/[0.05]" aria-hidden="true"></span>
                            <span class="absolute inset-0 z-10 rounded-[inherit] opacity-0 transition-colors duration-200 before:absolute before:inset-px before:rounded-[inherit] before:bg-black-new after:absolute after:left-1/2 after:top-full after:h-9 after:w-[67px] after:-translate-x-1/2 after:rounded-full after:bg-[#D9D9D9] after:blur-md after:transition-opacity after:duration-200 bg-gradient-to-b from-white to-white/40 after:opacity-0 " aria-hidden="true"></span>
                            <tag.icon class="size-4 text-[#ced1d4] mr-2"/>
                            <span class="z-20 bg-gradient-to-b from-white via-white via-25% to-white/50 bg-clip-text leading-none tracking-tighter text-transparent xl:text-[13px] text-xs py-1">{tag.name}</span>
                          </div>
                        </li>
                        ))
                      }
                    </ul>
                  </div>
                </div>
              </li>
                ))
              }
            </ol>
          </div>
        </section>
      </div> 
    </div>
    <div>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const navItems = document.querySelectorAll('.exp-item');

  navItems.forEach(item => {
    item.addEventListener('click', () => {
      const sectionId = 'section-' + item.id ; 
      
      const targetSection = document.getElementById(sectionId);
      
      if (targetSection) {
        targetSection.scrollIntoView({
        behavior: 'smooth',
        block: 'center'
      });
      }
    });
  });
});
</script>