---
import Linkedin from '../icons/Linkedin.astro';
import GitHub from '../icons/GitHub.astro';
import Download from '../icons/Download.astro';
import LinkButton from './LinkButton.astro';
import DownloadButton from './DownloadButton.astro';

import { getI18N } from "@/i18n"
import Code from './Code.astro';

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
const CV = Astro.currentLocale === 'es' ? '/cv/CV_Christian_Delgado_FullStackDeveloper.pdf' : '/cv/CV_Christian_Delgado_FullStackDeveloper_English.pdf';
---
<div class="flex flex-col items-center w-full max-w-6xl lg:gap-16 gap-0 lg:mt-[11rem] mt-24 hero-Code relative animate-fade-down animate-duration-[3000ms] px-8">
  <div class="flex flex-col justify-start items-center w-full relative z-10 ">
    <div class="flex flex-col gap-[1rem]  justify-center lg:w-full lg:max-w-full max-w-lg text-center">
      <div class=" text-center font-bold leading-[3.2rem] title">
        <h5 class="text-[2.5rem] title ">{i18n.HERO.INFO} {i18n.HERO.NAME}</h5>
        <p class="sm:text-[3rem] text-[2rem] leading-[3rem] text-[#4ade80] space-before"  id="ChangeTitle" data-sub1={i18n.HERO.SUB_1} data-sub2={i18n.HERO.SUB_2} data-sub3={i18n.HERO.SUB_3} data-sub4={i18n.HERO.SUB_4}>{(" ")}</p>
      </div>
    <div class="w-full flex justify-center">
      <p class="text-[16px] text-pretty text-center lg:w-[85%] text-gray-300">{i18n.HERO.DESCRIPTION}</p>
    </div>
      <div>
        <div class="flex gap-2 text-[12px] font-semibold justify-center">
          <LinkButton href={'https://www.linkedin.com/in/christian-delgado-sanchez/'}>
            <Linkedin class="size-4" />
            Linkedin
          </LinkButton>
          <DownloadButton href={CV}>
            <Download class="size-4 hover:fill-black" />
              {i18n.HERO.BTN_DOWNLOAD_CV}
          </DownloadButton>
          <LinkButton href={'https://github.com/ChristianDev47'}>
            <GitHub class="size-4" />
              GitHub
          </LinkButton>
        </div>
      </div>
    </div>
    <div class="relative w-full py-10 ">
      <img class=" absolute left-0 right-0 m-auto z-50 bottom-[38px] h-[10rem] rounded-b-full" src="/principal/profile_picture.webp" alt="">
      <div class="image_container"></div>
    </div>  
    <Code/>
    <div class="mt-[2rem] mx-[1rem]">
    </div>
  </div>
</div>

<style>
  .space-before::before {
    content: "\00A0"; 
  }
</style>

<script>
import TypeIt from "typeit";

  function init() {
    const titleElement = document.getElementById("ChangeTitle");
    if(titleElement){
      const sub1 = titleElement?.getAttribute("data-sub1");
      const sub2 = titleElement?.getAttribute("data-sub2");
      const sub3 = titleElement?.getAttribute("data-sub3");
      const sub4 = titleElement?.getAttribute("data-sub4");
      new TypeIt("#ChangeTitle", {
        speed: 80,
        waitUntilVisible: true,
        cursor: true,
        cursorChar: ''
      })
      .type(sub1 ?? '')
      .pause(500)
      .delete(22)
      .type(sub2 ?? '')
      .pause(500)
      .delete(14)
      .type(sub3 ?? '')
      .pause(500)
      .delete(6)
      .type(sub4 ?? '')
      .pause(500)
      .delete(0)
      .options({cursorChar: '', cursor: false})
      .go();
    }
  }
  init()

  document.addEventListener("astro:after-swap", init)
</script>
