---
import GitHub from "../icons/GitHub.astro";
import Link from "../icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import LinkInLine from "./LinkInLine.astro";
import TitleSection from "./TitleSection.astro";
import { getLangFromUrl, useTranslatedPath } from '../i18n/utils';
import { PROJECTS } from '@/constants/projects_data'
import { PROJECTS as PROJECT_EN } from '@/constants/projects_data_en'
import { getI18N } from "@/i18n"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const PROJECTS_DATA = Astro.currentLocale === 'es' ? PROJECTS : PROJECT_EN;
---

<div class="flex flex-col gap-y-5 justify-center items-center w-full max-w-7xl px-8">
  <TitleSection>
    {i18n.PROJECTS.TITLE.split(' ')[0]} <span class="text-[#4ade80]">{i18n.PROJECTS.TITLE.split(' ')[1]}</span>
  </TitleSection>
  <p class="text-gray-200 text-[16px] text-center max-w-[45rem]">{i18n.PROJECTS.SUBTITLE}</p>

  <div class="flex justify-center gap-x-5 gap-y-1 flex-wrap w-full">
    {
      PROJECTS_DATA.map(({ image, title, subtitle, resume, tags, link, github }) => (
        <article class="max-w-[386px] flex flex-col overflow-hidden mt-8 rounded-2xl border border-neutral-400/10 lg:w-full  bg-white/5  shadow-[0px_0px_24px_0px_rgba(0,0,0,0.4)] cursor-pointer">
          <div class="w-full h-[220px] border-none border-b-2 border-gray-300 relative group">
              <div class="absolute top-0 right-0 group-hover:bg-[#131313fb] z-50 transition-all ease-in-out duration-[.45s] w-full h-full ">
                <div class="relative flex flex-col justify-center items-center text-center opacity-0 transition-all ease-in-out  duration-[.55s] group-hover:opacity-100 w-full h-full p-4 space-y-2">
                  <p class=" text-[25px] font-semibold">{title}</p>
                  <p class="text-[14px]">{resume}</p>
                  <footer class="flex flex-col items-center justify-center mt-4 gap-x-4 w-full space-y-2">
                    <div>
                      {github && (
                      <LinkButton href={github}>
                        <GitHub class="size-4" />
                        {i18n.PROJECTS.BTN_CODE}
                      </LinkButton>
                    )}
                    {link && (
                      <LinkButton href={link}>
                        <Link class="size-4" />
                        {i18n.PROJECTS.BTN_PREVIEW}
                      </LinkButton>
                    )}
                    </div>
                    <LinkInLine href={translatePath(`/project/${title.toLowerCase()}`)}>
                      {i18n.PROJECTS.INFO}{" "}
                    </LinkInLine>
                  </footer>
                </div>
              </div>
              <img alt="Image" class="object-cover object-top w-full h-full transition duration-500 sm:h-full opacity-90 group-hover:scale-110" loading="lazy" src={image} />
          </div>
        </article>
      ))
    }
  </div>
</div>
