---
import "@fontsource-variable/inter"
  
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import { getLangFromUrl } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);

interface Props {
  title: string
  description: string
}

const { description, title } = Astro.props

---

<!doctype html>
<html  lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="relative text-white min-h-screen h-full flex justify-between">
    <div id="flashlight" class="invisible dark:visible"></div>
    <div id="custom-cursor" class="dark:hidden pointer-events-none fixed inset-0 z-50 transition duration-300 lg:absolute w-[600px]"></div>
    <div class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-[#000000] "></div>
    <img alt="" fetchpriority="high" width="1760" height="980" decoding="async" data-nimg="1" class="pointer-events-none absolute left-1/2 top-0 min-w-[1760px] -translate-x-1/2 xl:min-w-[1588px] lg:top-[-22px] lg:min-w-[1420px] md:top-[46px] md:min-w-[1058px]" style="color:transparent" sizes="(max-width: 639px) 1058px"  src="/principal/bg.webp">
      <Header />
        <slot />
      <Footer />
  
    <style is:global>
      @font-face {
        font-family: 'Eurostile';
        src: url('/fonts/eurostile.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'Europa Regular';
        src: url('/fonts/Europa Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      
      h5 {
        font-family: 'Eurostile', sans-serif;
      }
      
      html {
        scroll-behavior: smooth;
      }
  
      body {        
        font-family: "Inter", system-ui, sans-serif;
        font-weight: 400;
        color: rgba(17, 17, 17, 0.9);
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overscroll-behavior: none;
        transition: background-color 0.3s ease, color 0.3s ease;
        overflow-x: hidden;
      }
  
      html body {
        color: rgba(255, 255, 255, 0.9);
        background-color: #14181c; 
      }
      

      
      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }

      ::selection {
        background-color: #4ade80;  
        color: rgb(52, 52, 52);            
      }
  
      #header-nav {
        animation: blur linear both 0.5s;
        animation-timeline: scroll();
        animation-range: 0 500px;
      }

      .text__glowing {
        transition: text-shadow 0.3s ease;
      }

      #custom-cursor {
        pointer-events: none; 
        position: fixed; 
        width: 400px;
        height: 400px;
        z-index: 9999;
        border-radius: 50%; 
        background: radial-gradient(circle, #4ade801b 5%, transparent 50%);
        transform: translate(-50%, -50%); 
        mix-blend-mode: normal; 
        z-index: 100; 
      }

      #flashlight {
        --Xpos: 50vw;
        --Ypos: 50vh;
      }
      
      #flashlight:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 99999;
        background: radial-gradient(
          circle 14rem at var(--Xpos) var(--Ypos),
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.928)
        );
      }

      .title {
        font-family: 'Eurostile', sans-serif;
      }

      .text__glowing:hover {
        text-shadow:
        1px 1px 20px #fff;
      }

      .border-linear {
        border-width: 1px;
        border-color: transparent;
        -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
      }
  
      @keyframes blur {
        to {
          backdrop-filter: blur(20px);
          border-width: 1px;
          border-color: rgba(0, 0, 0);
          padding: 0.25rem 0.75rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          background-color: rgb(229, 229, 229); 
          border-radius: 9999px;
        }
      }
  
      html @keyframes blur {
        to {
          box-shadow: 0px 5px 50px -5px rgba(0, 0, 0, 0.1),
            0px 0px 0 1px rgba(0, 0, 0, 0.3);
          background: rgba(0, 0, 0, 0.3);
          backdrop-filter: blur(20px);
          border-width: 1px;
          border-color: rgba(0, 0, 0);
          padding-left: 0.75rem;
          padding-right: 0.75rem;
          padding-top: 0.25rem;
          padding-bottom: 0.25rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          background-color: rgba(0, 0, 0, 0.3);
          border-radius: 9999px;
        }
      }

      .image_container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 8rem;
        max-width: 9rem;
        height: 8rem;
        background:radial-gradient(circle closest-side,#20b556 98%,#0000);
        border-radius: 0 0 50% 50%;
        overflow:hidden;
        text-align: center;
      }


      ::-webkit-scrollbar {
        width: 12px;
      }

      ::-webkit-scrollbar-track {
        background: rgba(255, 166, 0, 0);
      }

      ::-webkit-scrollbar-thumb {
        background-color: #293136;
      }

      @keyframes float {
        0% {
          box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
          transform: translatey(0px);
        }
        50% {
          box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
          transform: translatey(-20px);
        }
        100% {
          box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
          transform: translatey(0px);
        }
      }

      .icon {
        box-sizing: border-box;
        overflow: hidden;
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
        animation: float 6s ease-in-out infinite;
        img { width: 100%; height: auto; }
      }


      code .line:after {
        visibility: hidden;
        overflow: hidden;
        font-size: 1rem;
        --tw-content: "'";
        content: var(--tw-content);
      }

      .show-linenumbers pre code>.line:before {
        counter-increment: line;
        content: counter(line);
        margin-right: 1.25rem;
        display: inline-block;
        width: 1rem;
        font-size: 14px;
        text-align: right;
        color: rgb(121 125 134 / 1);
      }

      .show-linenumbers pre code {
        counter-reset: line;
      }

      .homepage-shiki .show-linenumbers pre code>.line:before {
        --tw-text-opacity: 1;
        color: rgb(48 50 54 / var(--tw-text-opacity));
      }

      .homepage-shiki {
        --shiki-color-text: #fff;
        --shiki-color-background: transparent;
        --shiki-token-constant: #c173d9;
        --shiki-token-constant-val: #e5c07b;
        --shiki-token-let: #c173d9;
        --shiki-token-let-val: #e06c75;
        --shiki-token-eq: #528bff;
        --shiki-token-string: #98c379;
        --shiki-token-foreach: #61afef;
        --shiki-token-foreach-val: #9cdcfe;
        --shiki-token-comment: #797d86;
        --shiki-token-keyword: #afb1b6;
        --shiki-token-timer: #56b6c2;
        --shiki-token-param: #d19a66;
        --shiki-token-function: #52c9e0;
        --shiki-token-string-expression: #ecec79;
        --shiki-token-simbol: #da70d6;
        --shiki-token-simbol2: #179fff;
        --shiki-token-simbol1: #ffd700;
        --shiki-token-punctuation: #fff;
        --shiki-token-link: #52c9e0;
        --shiki-token-operator: #ba8c5e;
        --shiki-token-embed: #fff;
        --shiki-token-define-function: #c173d9;
    }

    </style>
    <script>
      const cursor = document.getElementById('custom-cursor');

      if(cursor){
        document.addEventListener('mousemove', (event) => {
          const { clientX, clientY } = event;

          cursor.style.left = `${clientX}px`;
          cursor.style.top = `${clientY}px`;
        });
      }
    </script>
    <script>
      let mouseX: number = 0;
      let mouseY: number = 0;

      const flashlight = document.getElementById("flashlight") as HTMLElement;

      const isTouchDevice = (): boolean => {
        try {
          document.createEvent("TouchEvent");
          return true;
        } catch (e) {
          return false;
        }
      };

      function getMousePosition(e: MouseEvent | TouchEvent): void {
        if (!flashlight) return;

        if (e instanceof MouseEvent) {
          mouseX = e.pageX;
          mouseY = e.pageY;
        } else if (e instanceof TouchEvent && e.touches[0]) {
          mouseX = e.touches[0].pageX;
          mouseY = e.touches[0].pageY;
        }

        flashlight.style.setProperty("--Xpos", `${mouseX}px`);
        flashlight.style.setProperty("--Ypos", `${mouseY}px`);
      }

      document.addEventListener("mousemove", getMousePosition);
      document.addEventListener("touchmove", getMousePosition);
    </script>
    
  </body>
</html>